body {
  background-color: #2B333F;
  margin: 0;
  overflow: hidden;
  font-family: 'BeautifulPeople';

}

h1 {
  text-align: center;
  color: white;
  margin-top: 250px;
}

#drawing_canvas {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
